<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
  <!-- Navbar content -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ">

      <li>&emsp;&nbsp;</li>
      <!-- Search form -->
    </ul>
    <i class="fa fa-map-marker fa-lg city" style="color:tomato" aria-hidden="true" data-controls-modal="#login-modal"
      data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#citymodal"></i>
    <h6 style="color:white">&nbsp;{{city}}&emsp;&nbsp;</h6>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <form class="form-inline active-cyan-3 active-cyan-4 ">
          <div class="input-group md-form form-sm form-2 pl-0">
            <input class="form-control my-0 py-1 lime-border" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text lime lighten-2" id="basic-text1"><i class="fa fa-search text-grey"
                  aria-hidden="true"></i></span>
            </div>
          </div>
        </form>
      </li>
    </ul>

  </div>
  <div style=" text-align:center ">
    <!-- Navbar content -->
    <div style="display:inline-block">
      <a class="btn" href="#" style="color:white">
          <h6 style="color:white">&nbsp;Home&nbsp;</h6>
        </a></div><i class="fa fa-home text-grey fa-xs " style="color:lightgray;" aria-hidden="true"></i>

    
    <div style="display:inline-block">
      <a class="btn" *ngIf="username=='noLoggedInUser', else helloUser" data-toggle="modal" data-target="#LoginModal" style="text-decoration:none">
        <h6 style="color:white">&nbsp;Login&nbsp;</h6>
      </a></div><i class="fa fa-sign-in text-grey fa-xs " style="color:lightgray;" aria-hidden="true"></i>

    <ng-template #helloUser>
      <a href='profile' class="btn" style="text-decoration:none">
        <h6 style="color:white">&nbsp;{{username}}&nbsp;</h6>
      </a>
      <a class="btn" (click)=logout() style="text-decoration:none">
        <h6 style="color:white">&nbsp;logout&nbsp;</h6>
      </a>
    </ng-template>

    <div style="display:inline-block"><a routerLink="/register" style="text-decoration:none">
        <h6 *ngIf="username=='noLoggedInUser'" style="color:white">&nbsp;&emsp;signup&nbsp;</h6>
      </a></div><i class="fa fa-user-plus text-grey fa-xs " style="color:lightgray;" aria-hidden="true"></i>

    <div style="display:inline-block"><a routerLink="/cartpage" style="text-decoration:none">
        <h6 *ngIf="cart=='items', else hellocart" style="color:greenyellow">&nbsp;&emsp;cart&nbsp;</h6>
      </a></div><i class="fa fa-cart-plus text-grey fa-xs " style="color:lightgray;" aria-hidden="true"></i>
    <ng-template #hellocart>
      <h6 style="color:white">&nbsp;&emsp;cart&nbsp;</h6>
    </ng-template>

  </div>
</nav>



<div style="background-color: rgb(0, 172, 154); text-align:center ">
  <!-- Navbar content -->
  <div style="display:inline-block"><a routerLink="/productcatalogue/automobiles/{{city}}" style="text-decoration:none">
      <h6 style="color:white">&nbsp;Automobiles&emsp;&nbsp;</h6>
    </a></div>

  <div style="display:inline-block"><a routerLink="/productcatalogue/electronics/{{city}}" style="text-decoration:none">
      <h6 style="color:white">&nbsp;Electronics&emsp;&nbsp;</h6>
    </a></div>

  <div style="display:inline-block"><a routerLink="/productcatalogue/furniture/{{city}}" style="text-decoration:none">
      <h6 style="color:white">&nbsp;Furniture&emsp;&nbsp;</h6>
    </a></div>


</div>


<div class="bg">
  <br />
  <br />
  <div id="header1">
    Make your house a home,<br />
    with a little help from us.
  </div>
  <br />

  <div id="header2">
    We know the effort it takes to find the perfect place in the city.<br />
    We help you make it your home with our affordable rentals!
  </div>
</div>

<app-details></app-details>




<div class="modal fade " id="citymodal" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body ">
        <div style="text-align:center; background-color:lightskyblue; border-radius: 10px"><br>
          <h3>I'm Looking to Rent in</h3><br>
        </div>

        <form method="get" action="homepage">
          <input routerLink="../bangalore" (click)="handleClick('bangalore')" data-dismiss="modal" type="image"
            src="https://cdn.iconscout.com/icon/free/png-256/assembly-1-119693.png" alt="Submit" width="150"
            height="150">
          <input routerLink="../hyderabad" (click)="handleClick('hyderabad')" data-dismiss="modal" type="image"
            src="https://cdn.iconscout.com/icon/free/png-512/charminar-1-119696.png" alt="Submit" width="150"
            height="150">
          <input routerLink="../pune" (click)="handleClick('pune')" data-dismiss="modal" type="image"
            src="https://cdn.iconscout.com/icon/free/png-256/surat-155248.png" alt="Submit" width="150" height="150">
        </form>
        <div>&emsp;&nbsp;&emsp;Bangalore&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;Hyderabad
          &emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&emsp;&nbsp;&nbsp;Pune</div>
      </div>
    </div>

  </div>
</div>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
  <!-- Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(30, 173, 157)">
          <h5 class="modal-title" id="exampleModalLabel" style="-webkit-text-fill-color: white">Login</h5>
          <button style="-webkit-text-fill-color: white" type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-login></app-login>
        </div>
        <div class="modal-footer" style="background-color: rgb(30, 173, 157)">
        </div>
      </div>
    </div>
  </div>
</div>