* {box-sizing: border-box;}



.item {
    width: 120px;
    min-height: 120px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
    background-repeat:no-repeat;
    background-size:contain;
}
::ng-deep .ngxImageZoomContainer > img{
    max-height: 450px!important;
    }

    .btn:hover{
        transform: scale(1.01);
        color:white;
    }


.panel-body {
    overflow: scroll;
    height: 750px;
}