<!-- <body>
        <div class="row">
            <div class="col-2">
                
                    <div class="card " style="width: 50rem; height: 40rem; ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/profile.jpg " height="15 " width="15 ">ACCOUNT SETTING
                                    <a [routerLink]="['/home/profile/']" class="nav-link"> Profile Information</a>
                                    <a [routerLink]="['/home/address/']" class="nav-link">Manage Address</a>
                                    <a [routerLink]="['/home/pancard/']" class="nav-link">Pancard Information</a>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/orders.jpg" height="15 " width="15 ">MY ORDER
                                    <a [routerLink]="['/home/order/']" class="nav-link"> Orders</a>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/payment.jpg" height="15 " width="15 ">PAYMENT
                                    <a [routerLink]="['/home/payment/']" class="nav-link">Saved drafts</a>
                                </li>
                            </ul>
                            
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/rewards.jpg" height="15 " width="15 ">REWARDS
                                    <a [routerLink]="['/home/reward/']" class="nav-link">Rewards</a>
                                </li>
                            </ul>
                            
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/notification.jpg" height="15 " width="15 ">NOTIFICATION
                                    <a [routerLink]="['/home/notification/']" class="nav-link">All Notification</a>
                                </li>
                            </ul>
                            
    
                        </div>
                </div>
            
    <div class="col-1">
          
            <div class="row justify-content-md-center">
                    <div class="col-md-auto">

                            <div class="card" style="width: 40rem; height: 40rem;">

                                <img class="card-img-bottom" src="assets/norewards.jpg">
                                <p class="card-text" align="center">No rewards yet</p>
                                <p class="card-text" align="center">Earn rewards from Rentastic to see them here.</p>
                            </div>

                    </div>
                </div>
                    </div>
                
                </div>
    </body> -->

    <div class="container">
            <div class="row">
                <br>
            <div class="col-3">
                    <body id="card_body" style=" margin: 40px; ">
                        
                            <div class="card" style="width: 40rem; height: 40rem; ">
                                    
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                <br><br>
                                    <img src="assets/profile.jpg " height="15 " width="15 "style=" margin-left: 15px; ">ACCOUNT SETTING
                                    <br>
                                    <a [routerLink]="['/home/profile/']" class="nav-link"style=" margin-left: 40px; "> Profile Information</a>
                                    <a [routerLink]="['/home/address/']" class="nav-link"style=" margin-left: 40px; ">Manage Address</a>
                                    <a [routerLink]="['/home/pancard/']" class="nav-link"style=" margin-left: 40px; ">Pancard Information</a>
                                    <br>
                                </li>
                            </ul>
                            <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/orders.jpg" height="15 " width="15 "style=" margin-left: 15px; ">MY ORDER
                                    <a [routerLink]="['/home/order/']" class="nav-link"style=" margin-left: 40px; "> Orders</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/payment.jpg" height="15 " width="15 "style=" margin-left: 15px; ">PAYMENT
                                    <a [routerLink]="['/home/payment/']" class="nav-link"style=" margin-left: 40px; ">Saved drafts</a>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/rewards.jpg" height="15 " width="15 "style=" margin-left: 15px; ">REWARDS
                                    <a [routerLink]="['/home/reward/']" class="nav-link"style=" margin-left: 40px; ">Rewards</a>
                                    <br>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/notification.jpg" height="15 " width="15 "style=" margin-left: 15px; ">NOTIFICATION
                                    <a [routerLink]="['/home/notification/']" class="nav-link"style=" margin-left: 40px; ">All Notification</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
<br>
                        </div>
                        </body>
                    </div>
                <div class="col-4">
                        <body id="card_body" style=" margin: 40px; ">
                                <div class="card " style="width: 40rem; height: 40rem; ">
                      <br><br>
                                        <img class="card-img-bottom" src="https://github.com/Sermakani97/ibm-fsd/blob/master/rental/src/assets/norewards.jpg?raw=true"width="200" height="400"><br><br>
                                        <p class="card-text" align="center">No rewards yet</p><br>
                                        <p class="card-text" align="center">Earn rewards from Rentastic to see them here.</p>
                    </div>
                    </body>
                    </div>
                    </div>
                    </div>