<!-- <body>
        <div class="row">
            <div class="col-3">
                
                    <div class="card " style="width: 50rem; height: 40rem; ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/profile.jpg " height="15 " width="15 ">ACCOUNT SETTING
                                    <a [routerLink]="['/home/profile/']" class="nav-link"> Profile Information</a>
                                    <a [routerLink]="['/home/address/']" class="nav-link">Manage Address</a>
                                    <a [routerLink]="['/home/pancard/']" class="nav-link">Pancard Information</a>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/orders.jpg" height="15 " width="15 ">MY ORDER
                                    <a [routerLink]="['/home/order/']" class="nav-link"> Orders</a>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/payment.jpg" height="15 " width="15 ">PAYMENT
                                    <a [routerLink]="['/home/payment/']" class="nav-link">Saved drafts</a>
                                </li>
                            </ul>
                            
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="aseets/rewards.jpg" height="15 " width="15 ">REWARDS
                                    <a [routerLink]="['/home/reward/']" class="nav-link">Rewards</a>
                                </li>
                            </ul>
                            
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/notification.jpg" height="15 " width="15 ">NOTIFICATION
                                    <a [routerLink]="['/home/notification/']" class="nav-link">All Notification</a>
                                </li>
                            </ul>
                            
    
                        </div>
                </div>
            
    <div class="col">
            <body id="card_body" style=" margin: 40px; ">

            <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="card" style="width: 50rem; height: 40rem;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img class="card-img-bottom" src="assets/notification.jpg" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">All Notification</h5>
                                            <p class="card-text">This is where you will see your personalized offers, order updates & price drops 31 Jul, 2019</p>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </body>
                </div>
 -->


                    <!-- </div>
                
                </div>
    </body> -->
    <div class="container">
            <div class="row">
                <br>
            <div class="col-3">
                    <body id="card_body" style=" margin: 40px; ">
                        
                            <div class="card" style="width: 40rem; height: 40rem; ">
                                    
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                <br><br>
                                    <img src="assets/profile.jpg " height="15 " width="15 ">ACCOUNT SETTING
                                    <br>
                                    <a [routerLink]="['/home/profile/']" class="nav-link"> Profile Information</a>
                                    <a [routerLink]="['/home/address/']" class="nav-link">Manage Address</a>
                                    <a [routerLink]="['/home/pancard/']" class="nav-link">Pancard Information</a>
                                    <br>
                                </li>
                            </ul>
                            <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/orders.jpg" height="15 " width="15 ">MY ORDER
                                    <a [routerLink]="['/home/order/']" class="nav-link"> Orders</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/payment.jpg" height="15 " width="15 ">PAYMENT
                                    <a [routerLink]="['/home/payment/']" class="nav-link">Saved drafts</a>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/rewards.jpg" height="15 " width="15 ">REWARDS
                                    <a [routerLink]="['/home/reward/']" class="nav-link">Rewards</a>
                                    <br>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/notification.jpg" height="15 " width="15 ">NOTIFICATION
                                    <a [routerLink]="['/home/notification/']" class="nav-link">All Notification</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
<br>
                        </div>
                        </body>
                    </div>
                <div class="col-4">
                        <body id="card_body" style=" margin: 40px; ">
                                <div class="card " style="width: 40rem; height: 40rem; ">
                                <div class="row no-gutters"> 
                                    <div class="col-md-4">
                                        <br><br><br>
                                        <img class="card-img-bottom" src="assets/notification.jpg" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <br>
                                            <br><br>
                                            <h5 class="card-title">All Notification</h5><br>
                                            <br>
                                            <p class="card-text">This is where you will see your personalized offers, order updates & price drops 31 Jul, 2019</p>
                                            <br><br>
                                            <br>
                                            <a href="#">MORE DETAILS</a>
                                        </div>
                                    </div>
                                </div></div>
                                                </body>
                    </div>
                    </div>
                    </div>