<app-navbar></app-navbar>

<div style=" text-align: center;" class="textImgHover">
<div class="card border-primary mb-3 shadow-lg  bg-white rounded" style=" display: inline-block; ">
        <div class="card-header " style="background-color: turquoise;"><h5></h5></div>
        <div class="card-body text-primary">
                <div class="panel panel-default" style=" width:400px">
                        <div class="panel-body">
                          <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">
              
                              <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              
                                <div class="form-group">
                                  <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                    <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <input (click)="sendotp()" name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send OTP" type="submit"data-toggle="modal" data-target="#otpmodal"  >
                                </div>
                                
                                <input type="hidden" class="hide" name="token" id="token" value=""> 
                              </form>
              
                            </div>
                          </div>
                        </div>
                        </div>
          <p class="card-text">An otp will be send to this email.</p>
        </div>


        <div class="modal fade"  id="otpmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="width:300px;">
                  <div class="modal-content">
                    <div class="modal-header " style="background-color: rgb(255, 203, 30)">
                      <h3 class="modal-title" id="exampleModalLongTitle"  style="-webkit-text-fill-color:black">
                       
                    </h3>
                      <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="-webkit-text-fill-color: black">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="text-align: center">
                            <h5><i class="fa fa-lock fa-4x"></i></h5>
                            <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                      <input id="otp" name="otp" placeholder="enter otp" class="form-control"  type="number">
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <input (click)='verify()' name="recover-submit" class="btn btn-lg btn-warning btn-block" value="verify OTP" type="submit" data-dismiss="modal" >
                                  </div>
                    </div>
                    <div class="modal-footer" style="background-color: turquoise">
                     </div>
                  </div>
                </div>
              </div>

              <button id="openModal" #openModal [hidden]="true" data-controls-modal="#login-modal" data-backdrop="static" data-keyboard="false" 
              data-toggle="modal" data-target="#resetpwd" ></button>

              <div class="modal fade"  id="resetpwd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" style="width:300px;">
                      <div class="modal-content">
                        <div class="modal-header " style="background-color: rgb(255, 203, 30)">
                          <h3 class="modal-title" id="exampleModalLongTitle"  style="-webkit-text-fill-color:black">
                                <h5><i class="fa fa-lock fa-4x"></i></h5>
                        </h3>
                          <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="-webkit-text-fill-color: black">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" style="text-align: center">
                                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              
                                        <div class="form-group">
                                          <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="mypwd" name="mypwd" placeholder="your new password" class="form-control"  type="password">
                                          </div>
                                          <div class="input-group">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                                <input id="cnfpwd" name="cnfpwd" placeholder="confirm password" class="form-control"  type="password">
                                              </div>
                                        </div>
                                        <div class="form-group">
                                          <input (click)='reset()' name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit" data-dismiss="modal">
                                        </div>
                                        
                                        <input type="hidden" class="hide" name="token" id="token" value=""> 
                                      </form>
                        </div>
                        <div class="modal-footer" style="background-color: turquoise">
                         </div>
                      </div>
                    </div>
                  </div>