<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <img width="120" src="https://github.com/demanda1/Project/blob/master/images/newlogo3.png?raw=true">
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a routerLink="/register" routerLinkActive="active"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li *ngIf="username=='noLoggedInUser', else helloUser"><a class="btn" data-toggle="modal" data-target="#LoginModal"><span class="glyphicon glyphicon-user"></span> Login</a></li>
            <ng-template #helloUser>
                <a class="btn"><span></span>Hello {{username}}</a>
            </ng-template>
        </ul>
    </div>
</nav>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <!-- Modal -->
    <div class="modal fade" id="LoginModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <app-login></app-login>
                </div>

            </div>
        </div>
    </div>
</div>