<!-- <div>

    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">

        
                    <div class="card " style="width: 50rem; height: 40rem; ">
                        <div class="card-body " align="center ">
                            <img class="card-img-bottom " src="noorder.jpg ">
                            <p class="card-text ">You have no order</p>
                            <a href="# " class="btn btn-primary ">SHOP NOW</a>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div> -->
<!-- <body id="body_style">
    
    <div class="container">
        <div class="row">
            <div class="col-2">
                    <div class="card " style="width: 50rem; height: 40rem; ">
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="profile.jpg " height="15 " width="15 ">ACCOUNT SETTING
                                    <a href="profile1.html" class="nav-link"> Profile Information</a>
                                    <a href="address.html" class="nav-link">Manage Address</a>
                                    <a href="pancard.html" class="nav-link">Pancard Information</a>
                                </li>
                            </ul>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="orders.jpg" height="15 " width="15 ">MY ORDER
                                    <a href="order.html" class="nav-link"> Orders</a>
                                </li>
                            </ul>
                           
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="payment.jpg" height="15 " width="15 ">PAYMENT
                                    <a href="payment.html" class="nav-link">Saved drafts</a>
                                </li>
                            </ul>
                           
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="rewards.jpg" height="15 " width="15 ">REWARDS
                                    <a href="rewards.html" class="nav-link">Rewards</a>
                                </li>
                            </ul>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="notification.jpg" height="15 " width="15 ">NOTIFICATION
                                    <a href="notification.html" class="nav-link">All Notification</a>
                                </li>
                            </ul>
                           

                        </div>
                    </div>
            </div>
            </div>
            </body>  -->
            <div class="container">
            <div class="row">
                <br>
            <div class="col-3">
                    <body id="card_body" style=" margin: 40px; ">
                        
                            <div class="card" style="width: 40rem; height: 40rem; ">
                                    
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                <br><br>
                                    <img src="assets/profile.jpg " height="15 " width="15 "style=" margin-left: 15px;">ACCOUNT SETTING
                                    <br>
                                    <a [routerLink]="['/home/profile/']" class="nav-link"style=" margin-left: 30px;"> Profile Information</a>
                                    <a [routerLink]="['/home/address/']" class="nav-link"style=" margin-left: 30px;">Manage Address</a>
                                    <a [routerLink]="['/home/pancard/']" class="nav-link"style=" margin-left: 30px;">Pancard Information</a>
                                    <br>
                                </li>
                            </ul>
                            <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/orders.jpg" height="15 " width="15 "style=" margin-left: 15px;">MY ORDER
                                    <a [routerLink]="['/home/order/']" class="nav-link"style=" margin-left: 30px;"> Orders</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/payment.jpg" height="15 " width="15 "style=" margin-left: 15px;">PAYMENT
                                    <a [routerLink]="['/home/payment/']" class="nav-link"style=" margin-left: 30px;">Saved drafts</a>
                                </li>
                            </ul>
                           <br>
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/rewards.jpg" height="15 " width="15 "style=" margin-left: 15px;">REWARDS
                                    <a [routerLink]="['/home/reward/']" class="nav-link"style=" margin-left: 30px;">Rewards</a>
                                    <br>
                                </li>
                            </ul>
                        
                            <ul class="nav nav-tabs">
                                <li class="nav-item active">
                                    <img src="assets/notification.jpg" height="15 " width="15 "style=" margin-left: 30px;">NOTIFICATION
                                    <a [routerLink]="['/home/notification/']" class="nav-link"style=" margin-left: 30px;">All Notification</a>
                                    <br>
                                </li>
                            </ul>
                           <br>
<br>
                        </div>
                        </body>
                    </div>
                <div class="col-4">
                        <body id="card_body" style=" margin: 40px; ">
                                <div class="card " style="width: 40rem; height: 40rem; ">
                      
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                
                        
                                    <div class="card " style="width: 50rem; height: 40rem; ">
                                        <div class="card-body " align="center ">
                                            <br>
                                            <img class="card-img-center " src=" https://github.com/Sermakani97/ibm-fsd/blob/master/rental/src/assets/noorder.jpg?raw=true" width="400" height="400"> 
                                            <br><br><br>
                                            <p class="card-text ">You have no order</p><br>
                                            <a href="# " class="btn btn-primary ">SHOP NOW</a>
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    </body>
                    </div>
                    </div>
                    </div>