
        h1 {
            margin-left: 10px;
            border: 1px;
            color: black
        }
        
        h3 {
            margin-left: 10px;
            border: 1px;
            color: black
        }
        
        #body_style {
            margin-left: 25px;
        }
    