<body>
    <form>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <div style="width:150px;padding-top:62px">
                        <select class="form-control" id="promocode" name="promo code">
                          <option value="">Promo code</option>
                          <option><a  [routerLink]="['profile']">Profile</a></option>
                        </select>
                        </div>
                    </div>
                </div>
            </div>
        <iframe height="700px" width="100%" name="iframe_a"> </iframe>
    </form>
</body>