<div class="row" id="details">
        <div class="column">
          <p><i class="fa fa-fw fa-bed" style="font-size:48px;"></i><br />Finest Quality products</p><br />
          <br /><br />
          <p><i class="fa fa-fw fa-close" style="font-size:48px;"></i><br />Cancel Anytime</p><br />
        </div>
    
    
        <div class="column">
          <p><i class="fa fa-fw fa-map-marker" style="font-size:48px;"></i><br />Free Relocation</p><br />
          <br /><br />
          <p><i class="fa fa-fw fa-truck" style="font-size:48px;"></i><br />Easy Return On Delivery</p><br />
        </div>
    
    
    
        <div class="column">
          <p><i class="fa fa-fw fa-wrench" style="font-size:48px;"></i><br />Free Maintainence</p><br />
          <br /><br />
          <p><i class="fa fa-fw fa-level-up" style="font-size:48px;"></i><br />Keep Upgrading</p><br />
        </div>
    
</div>